/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "PT Serif", Georgia, serif;
}

li {
  list-style: none;
}

.container {
  max-width: 70.62495rem;
  margin: 0 auto;
}

.newsletters {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif !important;
  text-decoration: none;
  color: #00b3e5;
}

.signup {
  color: #999;
}

#top {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  margin-top: 1.5rem;
}

.left-top {
  display: flex;
  flex-direction: column;
}

.title {
  height: 3.5rem;
  width: 21.875rem;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Carter One', cursive;
}

.sub-btn {
  background-color: #00b3e5;
  color: #fff;
  padding: 0.45833rem;
  text-align: center;
  border-radius: 0.188rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.current {
  border-bottom: 5px solid #000;
  padding-bottom: 0.375rem;
}

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  margin-right: 0.6rem;
  color: #002837;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  vertical-align: baseline;
}

.more-arrow {
  display: flex;
  align-items: flex-start;
}

.fa-angle-double-down {
  vertical-align: top;
  font-size: 1rem !important;
  margin-left: 0.45rem;
  margin-top: 0.125rem;
}

.tools {
  display: flex;
  color: #002837;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  vertical-align: baseline;
  font-weight: 700;
}

.fa-user-alt,
.fa-search {
  color: #002837;
  font-size: 1.125rem !important;
  line-height: 1.3125rem !important;
}

.active {
  color: #00b3e5;
}

.fa-search {
  margin-left: 0.5rem;
}

main {
  display: flex;
  margin-top: 1rem;
}

.mars {
  max-width: calc(100% - 20.125rem);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.75rem;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  line-height: 3.1875rem;
  font-weight: 700;
  letter-spacing: -0.0375rem;
  margin: 0 0 0.93747rem;
  vertical-align: baseline;
}

.mars-photo {
  width: 100%;
  margin-top: 0.5rem;
}

.si {
  line-height: 1.4375rem;
  font-size: 1.725rem;
  margin-right: 1rem;
}

.category {
  margin: 0.5rem 0 1rem 0;
}

.bold {
  font-weight: bold;
}

.date {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif !important;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #4d4d4d;
}

.by {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 400;
  margin: 0 00.6875rem;
  color: #4d4d4d;
}

#author {
  color: #00b3e5;
  font-weight: 700;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif !important;
}

.img-caption {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 700;
  color: #4d4d4d;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

.img-credit {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: #4d4d4d;
}

figure {
  margin-bottom: 1.375rem;
}

.text {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  /* margin: 0 00.6875rem; */
  color: #4d4d4d;
}

.text-link {
  color: #00b3e5;
  text-decoration: none;
}

.read-more {
  background: #f5f5f5;
  margin: 1.375rem 0;
  padding: 0.6875rem;
  width: 100%;
  color: #4d4d4d;
  letter-spacing: -0.0375rem;
}

.bold-link {
  font-weight: 700;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

.text-bold {
  font-weight: 800;
  color: #000;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.aside-list {
  display: flex;
}

.aside-active {
  background-color: #00b3e5 !important;
  color: #fff;
}

.aside-menu {
  list-style: none;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  cursor: pointer;
  border-right: 3px solid #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  padding: 0.45833rem;
  flex: 1 0 auto;
  background-color: #ddd;
}

.trending {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.aside-link {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  border-top: 3px solid #fff;
  font-size: 1.375rem;
  font-weight: 700;
  counter-increment: top-content-counter;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  line-height: 1.5625rem;
  padding: .6875rem;
  letter-spacing: -.0375rem;
}

.aside-link > a {
  display: flex;
  color: #4d4d4d;
  text-decoration: none;
}

.number {
  margin-left: 1rem;
  color: #00b3e5;
  font-size: 1.75rem;
  font-weight: 700;
}

.reference {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.subscribe-button {
  background: #005587;
  border: 0;
  border-radius: .188rem;
  color: #fff;
  padding: .45833rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.related {
  margin: 1.25rem 0;
}

#subscribe {
  display: flex;
  margin: 3rem 0;
  justify-content: space-between;
}

.magazin {
  max-width: 185px;
}

.fab,
.fas {
  font-size: 2rem;
  margin-right: 1rem;
}

.subscribe-items {
  display: flex;
  column-gap: 1rem;
}

.buttons-3 {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.subs,
.view,
.buy {
  border-radius: .188rem;
  color: #fff;
  border: 0;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-weight: 700;
  padding: .45833rem;
  min-width: 185px;
}

.subs {
  background: #00b3e5;
}

.view {
  background: #20b2aa;
}

.buy {
  background: red;
}

#more > h2 {
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: 1.5rem!important;
  font-weight: 400;
  line-height: 1.6875rem!important;
}

.more-news {
  display: flex;
  column-gap: 1rem;
  margin-top: 1rem;
}

.more-link {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: -.0375rem;
  line-height: 1.5625rem;
  color: #000;
  text-decoration: none;
}

.more-article {
  position: relative;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  padding: 0.4rem 0.6rem;
}

.space {
  background-color: #d7df21;
}

.science {
  background-color: #2aec19;
}

.games {
  background-color: #79227d;
}

footer {
  background-color: #f5f5f5;
}

.container > h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.signup-email {
  font-family: "PT Serif",Georgia,serif;
  margin: 0 .6875rem .6875rem 0;
  float: left;
  color: #4d4d4d;
}

#signup-email {
  border: none;
  background-color: #f5f5f5;
  border-bottom: 2px solid black;
  font-family: "PT Serif",Georgia,serif;
  font-size: 1rem;
  padding-left: .1875rem;
  line-height: 1rem;
}

.signup-btn {
  background: #005587;
  border: 0;
  border-radius: .188rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
  padding: .45833rem;
  width: 240px;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

.link-list {
  display: flex;
  justify-content: center;
  line-height: 1.4375rem;
}

.footer-link-item {
  padding: 0 1.5rem;
  border-right: 1px solid black;
  margin-bottom: 0.5rem;
}

.footer-link-item:last-of-type {
  border-right: none !important;
}

.footer-link-item > a {
  text-decoration: none;
  color: black;
}

.line-footer {
  margin-bottom: 1rem;
}

.cookies-link {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  text-decoration: none;
}
.cookies {
  background: #005587;
  margin-top: 1.375rem;
  border-radius: .188rem;
  border: 0;
  color: #fff;
  padding: .45833rem;
  text-align: center;
  font-weight: 700;
}

.app {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.bottom-line {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding-bottom: 4rem;
  align-items: baseline;
}

.far {
  font-size: 3rem;
  padding-left: 1rem;
}